@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #181C24;
  --blue: #2f3847;
  --deep-blue: #384354;
  --white: #F2F2F2;
  --red: #D93B3B;
  --deep-red: #8d2424;
  --yellow: #e7a217;
  --deep-yellow: #e7a117;
}


/* utility classes */
.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
}

canvas {
  display: none;
}

.container {
  display: grid;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  grid-auto-flow: row;
  grid-template-columns: 0.75fr 1.25fr 1fr;
  grid-template-rows: 0.125fr 1.875fr 1fr 1.75fr 0.25fr;
  grid-template-areas:
    "top top top"
    "left right right"
    "left right right"
    "left right right"
    "left right right";
}

.top {
  grid-area: top;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);

}

.right {
  grid-area: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.left {
  background-color: var(--deep-blue);
  grid-area: left;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  overflow: scroll;
}


.propertyCompare {
  width: 100%;
  background-color: var(--blue);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.ranges {
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.materialsList {
  width: 100%;
  background-color: var(--blue);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  padding: 0.5rem;


}

.materialContainer {
  width: 100%;
}

.materialName {
  color: var(--white);
  background-color: var(--yellow);
  border-bottom: 0.125rem solid var(--deep-yellow);
  cursor: pointer;
  text-align: left;
  padding: 0.125rem;
  width: 100%;

}

.materialName:hover {
  background-color: var(--white);
  color: var(--black);
}

.materialProperty {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.125rem;
  background-color: var(--white);
  color: var(--black);
}



.selectProperties {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 0.125rem;
  color: var(--white);
  background-color: var(--yellow);
}

.selectProperties:hover {
  background-color: var(--white);
  color: var(--black);
}

.selectProperties:focus {
  outline: none;
  box-shadow: none;
}

.selectProperties option {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.125rem;
  background-color: var(--white);
  color: var(--black);
}


.heading {
  width: 100%;
  text-align: left;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.heading2 {
  width: 100%;
  text-align: left;
  color: var(--white);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}



.materialProperty:hover {
  color: var(--white);
  background-color: var(--deep-blue);
}

.activeMaterialProperty {
  color: var(--white);
  background-color: var(--deep-blue);
}

button {
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  background-color: var(--yellow);
  border: 0.125 solid var(--deep-yellow);
  text-align: center;
  line-height: 100%;
  padding: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--white);
  color: var(--black);
}

.navButton {
  background-color: var(--blue);
  height: 28px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

}

.applyRangeButton {
  height: 28px;
  margin-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.resetButton {
  background-color: var(--red);
  border-color: var(--deep-red);
}

.selectedButton {
  background-color: var(--deep-blue);
}

.propertiesContainer {
  background-color: var(--deep-yellow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

input {
  border: none;
  width: 100%;
  text-align: left;
  padding: 0.125rem;
  background-color: var(--white);
  color: var(--black);
}

input:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  display: none;
}