@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #273459;
  --white: #F2F2F2;
  --red: #D93B3B;
  --yellow: #F2A71B;
  --deep-yellow: #cf8f18;
  --gray: #404B59;
}

body {
  min-height: 98vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--gray);
}

canvas {
  background-color: var(--white);
}

.container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-auto-flow: row;
  grid-template-columns: 0.75fr 1.25fr 1fr;
  grid-template-rows: 1fr 1fr 1.75fr 0.25fr; 
  grid-template-areas:
    "materialsList rightSide rightSide"
    "materialsList rightSide rightSide"
    "materialsList rightSide rightSide"
    "bottomLeft rightSide rightSide"; 
}
.bottomLeft{
  grid-area: bottomLeft;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: wrap;
  background-color: var(--blue);
  padding: 0.5rem;
}

.rightSide {
  grid-area: rightSide;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.materialsList {
  grid-area: materialsList;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: wrap;
  background-color: var(--blue);
  padding: 0.5rem;
}

.materialContainer {
  width: 100%;
}

.materialName {
  color: var(--white);
  background-color: var(--yellow);
  border-bottom: 0.125rem solid var(--deep-yellow);
  cursor: pointer;
  text-align: left;
  padding: 0.125rem;
  width: 100%;

}

.materialName:hover {
  background-color: var(--white);
  color: var(--gray);
}

.materialProperty {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.125rem;
}

.selectProperties {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.125rem;
  color: var(--white);
  background-color: var(--yellow);
}

.heading {
  width: 100%;
  text-align: left;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.selectProperties:focus {
  outline: none;
  box-shadow: none;
}

.selectProperties option {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.125rem;
  color: var(--white);
  background-color: var(--yellow);
}


.materialProperty:hover {
  color: var(--white);
  background-color: var(--gray);
}

.activeMaterialProperty {
  color: var(--white);
  background-color: var(--gray);
}

.resetButton {
  font-family: 'Roboto', sans-serif;
  border: none;
  color: var(--white);
  background-color: var(--deep-yellow);
  cursor: pointer;
  color: var(--white);
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.resetButton:hover {
  background-color: var(--white);
  color: var(--gray);
}

.propertiesContainer {
  background-color: var(--deep-yellow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}



::-webkit-scrollbar {
  display: none;
}

nav {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
  margin: 0 0.5rem;
}

nav a:hover {
  color: var(--yellow);
}

