@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #181C24;
  --blue: #2f3847;
  --deep-blue: #384354;
  --white: #F2F2F2;
  --light-white: #f2f2f2d6;
  --red: #D93B3B;
  --deep-red: #8d2424;
  --yellow: #e7a217;
  --deep-yellow: #e7a117;
}


.buttonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.rangeContainer {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.rangeContainer input[type="text"] {
  width: 4rem;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
}

canvas {
  display: none;
}

.container {
  display: grid;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  grid-auto-flow: row;
  grid-template-columns: 0.75fr 1.25fr 1fr;
  grid-template-rows: 2fr 1fr 1.75fr 0.25fr;
  grid-template-areas:
    "left right right"
    "left right right"
    "left right right"
    "left right right";
}

.top {
  grid-area: top;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);

}

.right {
  grid-area: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.left {
  background-color: var(--deep-blue);
  grid-area: left;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
}


.propertyCompare {
  width: 100%;
  background-color: var(--blue);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.ranges {
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.materialsList {
  width: 100%;
  background-color: var(--blue);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  padding: 0.5rem;


}

.materialContainer {
  width: 100%;
}

.materialName {
  color: var(--white);
  background-color: var(--yellow);
  border-bottom: 0.125rem solid var(--deep-yellow);
  cursor: pointer;
  text-align: left;
  padding: 0.125rem;
  width: 100%;

}

.materialName:hover {
  background-color: var(--white);
  color: var(--black);
}

.materialProperty {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.125rem;
  background-color: var(--white);
  color: var(--black);
}



.selectProperties {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 0.125rem;
  color: var(--white);
  background-color: var(--yellow);
}

.selectProperties:hover {
  background-color: var(--white);
  color: var(--black);
}

.selectProperties:focus {
  outline: none;
  box-shadow: none;
}

.selectProperties option {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.125rem;
  background-color: var(--white);
  color: var(--black);
}


.heading {
  width: 100%;
  text-align: left;
  color: var(--white);
}

.heading2 {
  width: 100%;
  text-align: left;
  color: var(--white);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}



.materialProperty:hover {
  color: var(--white);
  background-color: var(--deep-blue);
}

.activeMaterialProperty {
  color: var(--white);
  background-color: var(--deep-blue);
}

button {
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  background-color: var(--yellow);
  border: 0.125 solid var(--deep-yellow);
  text-align: center;
  line-height: 100%;
  padding: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--white);
  color: var(--black);
}

.navButton {
  background-color: var(--deep-blue);
  height: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.applyRangeButton {
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.resetButton {
  background-color: var(--red);
  border-color: var(--deep-red);
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.reloadButton{
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

}

.selectedButton {
  background-color: var(--blue);
}

.propertiesContainer {
  background-color: var(--deep-yellow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.loading {
  color: #F2F2F2;
}

.loadingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  z-index: 100;
}

.loadingScreenText {
  color: #F2F2F2;
  font-size: 2rem;
}

.loader {
  height: 1rem;
  width: 75px;
  --c: no-repeat linear-gradient(var(--red) 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 21% 100%;
  animation: l7 1s infinite alternate;
}

@keyframes l7 {

  0%,
  20% {
    background-position: calc(0*100%/4) 0, calc(1*100%/4) 0, calc(2*100%/4) 0, calc(3*100%/4) 0
  }

  35% {
    background-position: calc(0*100%/4) 0, calc(1*100%/4) 0, calc(2*100%/4) 0, calc(4*100%/4) 0
  }

  50% {
    background-position: calc(0*100%/4) 0, calc(1*100%/4) 0, calc(3*100%/4) 0, calc(4*100%/4) 0
  }

  65% {
    background-position: calc(0*100%/4) 0, calc(2*100%/4) 0, calc(3*100%/4) 0, calc(4*100%/4) 0
  }

  80%,
  100% {
    background-position: calc(1*100%/4) 0, calc(2*100%/4) 0, calc(3*100%/4) 0, calc(4*100%/4) 0
  }
}

input {
  border: none;
  width: 100%;
  text-align: left;
  padding: 0.125rem;
  background-color: var(--white);
  color: var(--black);
}

input:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  display: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.25rem;
  height: 0.5rem;
  border-radius: 5px;
  background: var(--yellow);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: var(--light-white);
  cursor: pointer;
}